version: '2.2'

services:
  rpa-em-ccd-orchestrator:
    build:
      context: .
    image : hmctspublic.azurecr.io/em/ccd-orchestrator:latest
    environment:
      - SERVER_PORT=8080
      - IDAM_API_BASE_URI=https://idam-api.aat.platform.hmcts.net
      - S2S_BASE_URI=http://service-auth-provider-api:8080
      - APPINSIGHTS_INSTRUMENTATIONKEY=test_app
    # these environment variables are used by java-logging library
      - ROOT_APPENDER=JSON_CONSOLE
      - JSON_CONSOLE_PRETTY_PRINT=false
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE=java
      - REFORM_SERVICE_NAME=rpa-em-ccd-orchestrator
      - REFORM_TEAM=em-ccd-orchestrator
      - REFORM_ENVIRONMENT=docker
    ports:
    - $SERVER_PORT:8080
