server:
  shutdown: graceful
spring:
  application:
    name: EM CCD Orchestrator
  config:
    import: "optional:configtree:/mnt/secrets/em-ccdorc/"
  batch:
    job:
      enabled: false
      jobCronExpression: ${JOB_CRON_EXPRESSION:"* * * * * *"}
    initialize-schema: never
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_API_BASE_URI:http://localhost:5062/o}
        registration:
          oidc:
            client-id: microservicekey-em-ccd-orchestrator
            client-secret: ${S2S_KEY}
  # cloud:
  #   compatibility-verifier:
  #     enabled: false

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: '/'
      exposure:
        include:
         - health
         - info
  health:
    db:
      enabled: false
    diskspace:
      enabled: false
  info:
     build:
       enabled: true # Whether to enable build info.
     defaults:
       enabled: true # Whether to enable default info contributors.
     env:
       enabled: true # Whether to enable environment info.
     git:
       enabled: true # Whether to enable git info.
       mode: simple # Mode to use to expose git information.

info:
  app:
    environment: ${PACKAGES_ENVIRONMENT:local}
    project: ${PACKAGES_PROJECT:em-ccd-orchestrator}
    name: ${PACKAGES_NAME:cor}
#    version: ${PACKAGES_VERSION:unknown}

auth:
  idam:
    client:
      baseUrl: ${IDAM_API_BASE_URI:http://localhost:5062}
  provider:
    service:
      client:
        baseUrl: ${S2S_BASE_URI:http://localhost:8489}

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:true}
  application-insights:
    instrumentation-key: ${APPINSIGHTS_INSTRUMENTATIONKEY:dummy}

app-insights:
  dev-mode: off
  request-component: on
  telemetry-component: on

em-rpa-ccd-orchestrator:
  base-url: ${EM_CCD_ORCHESTRATOR_URL:http://localhost:8080}

dm-store-app:
  base-url: ${DM_STORE_APP_URL:http://localhost:4603}

em-rpa-stitching-api:
  base-url: ${EM_STITCHING_API_URL:http://localhost:4630}
  resource: '/api/document-tasks'

idam:
  s2s-auth:
    url: ${S2S_BASE_URI:http://localhost:8489}
    totp_secret: ${S2S_KEY}
    microservice: em_ccd_orchestrator
  s2s-authorised:
    services: ${S2S_NAMES_WHITELIST:sscs,ccd,em_gw,ccd_data,iac,em_stitching_api,xui_webapp,civil_service,prl_cos_api,ethos_repl_service,et_cos}

callbackUrlCreator:
  scheme: ${CALLBACK_HTTP_SCHEME:http}
  host: ${CALLBACK_DOMAIN:localhost} # SERVER_NAME is the domain injected by the Azure
  port: ${CALLBACK_HTTP_HOST_PORT:8080}

core_case_data:
  api:
    url: ${CCD_DATA_API_URL:http://localhost:4452}

endpoint-toggles:
  stitching-complete-callback: ${ENABLE_STITCHING_COMPLETE_CALLBACK:true}

notify:
  apiKey: ${NOTIFICATION_API_KEY}
  successTemplateId: 58f6384c-64f9-4ddc-a409-259fe04d1836
  failureTemplateId: 2f133f4e-5adc-418c-9554-b18968db253e

httpclient:
  call-timeout: ${HTTPCLIENT_CALL_TIMEOUT:30}

springdoc:
  packagesToScan: uk.gov.hmcts.reform.em.orchestrator.endpoint
  pathsToMatch: /**

logging:
  level:
    uk.gov.hmcts.reform.authorisation.filters: DEBUG
    
cdam:
  validation:
    enabled: ${ENABLE_CDAM_VALIDATION:false}

max-retry-to-poll-stitching:  ${MAX_RETRY_TO_POLL_STITCHING:7}
