java:
  applicationPort: 8080
  image: 'hmctspublic.azurecr.io/em/ccdorc:latest'
  ingressHost: em-ccd-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  aadIdentityName: em
  keyVaults:
    em-ccdorc:
      resourceGroup: em-ccdorc
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: APPINSIGHTS_INSTRUMENTATIONKEY
        - name: microservicekey-em-ccd-orchestrator
          alias: S2S_KEY
        - name: notification-api-key
          alias: NOTIFICATION_API_KEY
        - name: app-insights-connection-string
          alias: app-insights-connection-string
  environment:
    # Regardless of environment, point towards AAT instances. Overwrite in product charts etc.
    IDAM_API_BASE_URI: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    OPEN_ID_API_BASE_URI: https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net/o
    S2S_BASE_URI: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    EM_STITCHING_API_URL: http://em-stitching-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DM_STORE_APP_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CALLBACK_DOMAIN: em-ccd-orchestrator-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    S2S_NAMES_WHITELIST: sscs,ccd,em_gw,ccd_data,iac,em_stitching_api,civil_service,prl_cos_api,sptribs_case_api,et_cos,ethos_repl_service,civil_general_applications

    REFORM_SERVICE_NAME: em-ccd-orchestrator
    REFORM_TEAM: Evidence Management
    REFORM_SERVICE_TYPE: java
    REFORM_ENVIRONMENT: preview
    PACKAGES_NAME: em-ccd-orchestrator
    PACKAGES_PROJECT: evidence
    PACKAGES_ENVIRONMENT: preview
    JSON_CONSOLE_PRETTY_PRINT: false
    ENDPOINTS_HEALTH_SENSITIVE: false
    ENDPOINTS_INFO_SENSITIVE: false
    ENABLE_IDAM_HEALTH_CHECK: false
    ENABLE_S2S_HEALTH_CHECK: false
    ENABLE_CDAM_VALIDATION: false
    SERVER_PORT: 8080
    CALLBACK_HTTP_SCHEME: http
    CALLBACK_HTTP_HOST_PORT: 80
    HTTPCLIENT_CALL_TIMEOUT: 30
    MAX_RETRY_TO_POLL_STITCHING: 7
