---
spring:
  main:
    allow-bean-definition-overriding: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
  security:
    oauth2:
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_API_BASE_URI:http://localhost:5062/o}
        registration:
          oidc:
            client-id: webshow
            client-secret: ${S2S_KEY:AAAAAAAAAAAAAAAA}

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: '/'
      exposure:
        include:
          - health
          - info
test:
  url: ${TEST_URL:http://localhost:8080}

idam:
  api:
    url: ${IDAM_API_BASE_URI:http://localhost:5062}
  client:
    id: ${OAUTH_CLIENT:webshow}
    secret: ${FUNCTIONAL_TEST_CLIENT_OAUTH_SECRET:AAAAAAAAAAAAAAAA}
    redirect_uri: ${IDAM_WEBSHOW_WHITELIST:https://em-show-aat.service.core-compute-aat.internal/oauth2/callback}
    grant_type: 'password'
    scope: 'openid roles profile'
  s2s-auth:
    totp_secret: ${S2S_KEY:AAAAAAAAAAAAAAAA}

s2s:
  api:
    url: ${S2S_BASE_URI:http://localhost:8489}
    secret: ${FUNCTIONAL_TEST_CLIENT_S2S_TOKEN:AAAAAAAAAAAAAAAA}
    serviceName: ${S2S_SERVICE_NAME:em_gw}
    ccdGwSecret: ${FUNCTIONAL_TEST_CCD_GW_SERVICE_SECRET:AAAAAAAAAAAAAAAA}
    ccdGwServiceName: ${CCD_GW_SERVICE_NAME:ccd_gw}
    xuiWebappSecret: ${FUNCTIONAL_TEST_XUI_WEBAPP_SERVICE_SECRET:AAAAAAAAAAAAAAAA}
    xuiWebappServiceName: ${XUI_WEBAPP_SERVICE_NAME:xui_webapp}

ccd-def:
  api:
    url: ${CCD_DEF_API:http://localhost:4451}

document_management:
  url: ${DM_STORE_APP_URL:http://localhost:4603}
  docker_url: http://localhost:4603

core_case_data:
  api:
    url: ${CCD_DATA_API:http://localhost:4452}

case_document_am:
  url: ${CDAM_URL:http://localhost:4455}

annotation:
  api:
    url: ${EM_ANNO_APP_URL:http://localhost:4623}

em-rpa-stitching-api:
  base-url: ${EM_STITCHING_API_URL:http://localhost:4630}
  resource: '/api/document-tasks'

azure:
  app_insights_key: ${APPINSIGHTS_INSTRUMENTATIONKEY:true}
  application-insights:
    instrumentation-key: ${APPINSIGHTS_INSTRUMENTATIONKEY:dummy}

app-insights:
  dev-mode: off
  request-component: on
  telemetry-component: on

cdam:
  validation:
    enabled: ${ENABLE_CDAM_VALIDATION:false}

notify:
  apiKey: ${NOTIFICATION_API_KEY:test-api-key-dummy}